+++
title = "ICFC Home Page"
linkTitle = "ICFC-Home-Page"

+++

{{< blocks/cover title="Welcome to Goldydocs: A Docsy Example Project!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Porridge temperature assessment - in the cloud!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
ICFC 国际徒手体适能是一个 xxxx 的机构，提供 xxxx 的服务。

金牌导师来自 xxxx 国家，xxx
{{% /blocks/lead %}}

<!-- Section Begin -->
{{< blocks/section color="white" >}}
<div class="col-12 shadow-lg mb-5">
	<div class="row no-gutters position-relative">
		<div class="col-md-4 mb-md-0 p-md-4">
			<img src="./featured-background.jpg" class="w-75 img-thumbnail" alt="...">
		</div>
		<div class="col-md-8 position-static p-4 pl-md-0">
			<h5 class="mt-0 mb-2">XXX 优秀导师</h5>
			<p>1. 特长1 ，Another instance of placeholder content for this other c</p>
			<p>1. 特长1 ，Another instance of placeholder content for this other c</p>
			<p>1. 特长1 ，Another instance of placeholder content for this other c</p>
			<a href="#" class="stretched-link">了解更多 ...</a>
		</div>
	</div>
</div>

<div class="col-12 shadow-lg mb-5">
	<div class="row no-gutters position-relative">
		<div class="col-md-8 position-static p-4 pl-md-0">
			<h5 class="mt-0 mb-2">XXX 优秀导师</h5>
			<p>1. 特长1 ，Another instance of placeholder content for this other c</p>
			<p>1. 特长1 ，Another instance of placeholder content for this other c</p>
			<p>1. 特长1 ，Another instance of placeholder content for this other c</p>
			<a href="#" class="stretched-link">了解更多 ...</a>
		</div>
		<div class="col-md-4 mb-md-0 p-md-4">
			<img src="./featured-background.jpg" class="w-75 img-thumbnail" alt="...">
		</div>
	</div>
</div>


{{< /blocks/section >}}
<!-- Section End -->

<!-- Section Begin -->
{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
<!-- Section End -->

<!-- Section Begin -->
{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

<!-- Section End -->

<!-- Section Begin -->
{{< blocks/section >}}

<div class="col-12">
</div>

{{< /blocks/section >}}
<!-- Section End -->
